Listen 6666
<VirtualHost *:6666>
  <Location />
    Order deny,allow
    Allow from all
  </Location>

  KeepAliveTimeout 60
  MaxKeepAliveRequests 0
  EnableMCPMReceive

  ManagerBalancerName mycluster
  ServerAdvertise Off
</VirtualHost>
